<form [formGroup]="schflForm" (ngSubmit)="SubmitDetails()" >
   <app-schedule-list>
   </app-schedule-list>
      <div class="container" style="margin-top: 2%">
        <div class="row">
           <div class="popup" (click)="toggleTab(3)">
              Step 3 : Select Airlines/ Add Airlines
              <p style="float: right;"> {{tabText}}</p>
           </div>
        </div>
        </div>
         <div class="container" *ngIf="step3" style="border: 1px solid #09010f;">
            <div class="row" >
               <div class="col col-arrange">
                  <label for="flcarrierName">Select Airlines : </label>
                  <select id="flcarrierName" formControlName="flcarrierName" class="col col-arrange" required>
                     <option>Select.....</option>
                     <option [value]="fl.flightId" *ngFor="let fl of flights">{{fl.carrierName}} - Model {{fl.flightModel}} - Capacity - {{fl.seatCapacity}}</option>
                  </select>
               </div>
               <div class="col col-arrange">
                  <label for="flightModel">Destination Airport : </label>
                  <select id="flightModel" formControlName="flightModel" class="col col-arrange" required>
                     <option>Select Destination Airport</option>
                     <option [value]="fl.flightModel" *ngFor="let fl of flights">{{fl.flightModel}}</option>
                  </select>
               </div>
            </div>
            <div class="row row-button">
             <button type="button" class="btn btn-success" (click)="addtimings()">Next Step</button>
         </div> 
         </div>
      </form>