<div class="container" style="margin-top: 2%">
   <h1 style="text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">Schedule A Flight</h1>
      <form [formGroup]="SchflForm" (ngSubmit)="createScheduleFlight()">
         <div class="row">
            <app-airport-list></app-airport-list>
         </div>
         <div class="row">
             <div class="col col-arrange">
                 <label for="source">Source Airport : </label>
                 <select id="source" formControlName="source" class="col col-arrange" required>
                    <option>Select Source Airport</option>
                    <option [value]="airport.airportlocation" *ngFor="let airport of airports">{{airport.airportlocation}} - {{airport.airportcode}}</option>
                 </select>
             </div>
             <div class="col col-arrange">
                 <label for="destination">Destination Airport : </label>
                 <select id="destination" formControlName="destination" class="col col-arrange" required>
                    <option>Select Destination Airport</option>
                    <option [value]="airport.airportlocation" *ngFor="let airport of airports">{{airport.airportlocation}} - {{airport.airportcode}}</option>
                 </select>
              </div>
              </div>
              <div class="row">
               <div class="col col-arrange">
                  <label for="departures">Time and Date of Departures </label>
                  <input type="datetime-local" formControlName="departures" class="col col-arrange"/> 
               </div>
               <div class="col col-arrange">
                  <label for="arrivals">Time and Date of Arrivals </label>
                  <input type="datetime-local" formControlName="arrivals" class="col col-arrange"/> 
               </div>
            </div>
            <div class="row">
               <app-flight></app-flight>
            </div>
            <div class="row" style="margin: 5px;">
               <select id="flightId" name="flightId" formControlName="flightId" required>
                   <option>Select......</option>
                   <option [ngValue]="fl.flightId" *ngFor="let fl of flights"><b>Airlines Company : </b> {{fl.carrierName}} || 
                       <b>Flight Model : </b> {{fl.flightModel}} ||
                       <b>Seat Capacity : </b> {{fl.seatCapacity}} 
                   </option>
                </select>
             </div>
              <div class="row row-button">
                 <button type="submit" class="btn btn-success" [disabled]="!SchflForm.valid">Next Step</button>
             </div>
         </form>
</div>
<div class="container container-scheduleflight" *ngIf="visible" id="contentToConvert">
   <h3 style="margin: 5px;">Scheduled Flight Details</h3>
   <div  *ngFor="let sch of schflights" style="text-align: center;" >
      <div class="row">
         <div class="col col-arrange">
            <label><b>Scheduled Flight ID :</b></label>
         </div>
         <div class="col col-arrange">
            {{sch.scheduleflightid }}
         </div>
      </div>
      <div class="row" style="margin-top: 5px;">
         <div class="col col-arrange" colspan="2">
            <label><b>From AirPort : </b></label>   
         </div>
         <div class="col col-arrange" colspan="2">
            <label><b>To AirPort : </b></label>
         </div>
      </div>
      <div class="row">
         <div class="col col-arrange">
            <label><b>AirPort Location: </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.source.airportlocation }}  
         </div>
         <div class="col col-arrange">
            <label><b>AirPort Location: </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.destination.airportlocation }}  
         </div>
      </div>
      <div class="row">
         <div class="col col-arrange">
            <label><b>AirPort Name: </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.source.airportname }}  
         </div>
         <div class="col col-arrange">
            <label><b>AirPort Name: </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.destination.airportname }}  
         </div>
      </div>
      <div class="row">
         <div class="col col-arrange">
            <label><b>AirPort Code: </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.source.airportcode }} 
         </div>
         <div class="col col-arrange">
            <label><b>AirPort Code: </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.destination.airportcode }} 
         </div>
      </div>
      <div class="row">
         <div class="col col-arrange">
            <label><b>Departure Date : </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.dateAndTimeOfDeparture | date:'dd-MM-yyyy'}}
         </div>
         <div class="col col-arrange">
            <label><b>Arrival Date : </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.dateAndTimeOfArrival | date:'dd-MM-yyyy'}}
         </div>
      </div>
      <div class="row">
         <div class="col col-arrange">
            <label><b>Departure Time : </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.dateAndTimeOfDeparture |  date:'HH:mm:ss'}}
         </div>
         <div class="col col-arrange">
            <label><b>Arrival Time : </b></label>
         </div>
         <div class="col col-arrange">
            {{sch.schedule.dateAndTimeOfArrival |  date:'HH:mm:ss'}}
         </div>
      </div>
      <div class="row" style="margin-top: 5px;">
         <div class="col col-arrange">
            <label><b>Airlines Company : </b></label> 
         </div>
         <div class="col col-arrange">
            {{sch.flight.carrierName }}
         </div>
         <div class="col col-arrange">
            <label><b>Airplane Model : </b></label> 
         </div>
         <div class="col col-arrange">
           {{sch.flight.flightModel }}
         </div>
      </div>
      <div class="row" style="margin-top: 5px;">
         <div class="col col-arrange">
            <label><b>Available Tickets : </b></label> 
         </div>
         <div class="col col-arrange">
            {{sch.availableSeats }}
         </div>
      </div>
</div>
</div>
<div class="container" *ngIf="visible">
   <div class="row">
      <div class="col col-arrange">
         <button class="btn btn-primary" (click)="generatePDF()">Print</button>
      </div>
      <div class="col col-arrange">
         <button class="btn btn-info" (click)="GoBackToAdmin()">Go Back</button>
      </div>
   </div>
</div>
  