<div class="container" style="margin-top: 2%">
   <div class="row">
      <div class="popup" (click)="toggleTab(1)">
         Step 1 : Select Airports/Add New Airport
         <p style="float: right;"> {{tabText}}</p>
      </div>
   </div>
   </div>
   <form [formGroup]="schflForm" (ngSubmit)="createscheduleflght()" >
      <div class="container" *ngIf="booleanArray[1]" style="border: 1px solid #09010f;">
         <app-airport-list></app-airport-list>
         <div class="row" >
         <div class="col col-arrange">
            <label for="source">Source Airport : </label>
            <select id="source" formControlName="source" class="col col-arrange" required>
               <option>Select Source Airport</option>
               <option [value]="airport.airportlocation" *ngFor="let airport of airports">{{airport.airportlocation}} - {{airport.airportcode}}</option>
            </select>
         </div>
         <div class="col col-arrange">
            <label for="destination">Destination Airport : </label>
            <select id="destination" formControlName="destination" class="col col-arrange" required>
               <option>Select Destination Airport</option>
               <option [value]="airport.airportlocation" *ngFor="let airport of airports">{{airport.airportlocation}} - {{airport.airportcode}}</option>
            </select>
         </div>
      </div>
      <div class="row row-button">
       <button type="button" class="btn btn-success" (click)="toggleTab(2)">Next Step</button>
   </div> 
   </div>
   <div class="container" style="margin-top: 2%">
       <div class="row">
          <div class="popup" [class.disabled]="!booleanArray[2]" (click)="toggleTab(2)" >
             Step 2 : Add Timings
             <p style="float: right;"> {{tabText}}</p>
          </div>
       </div>
       </div>
       <div class="container" *ngIf="booleanArray[2]"  style="border: 1px solid black;">
           <div class="row ro">
               <div class="col col-arrange">
                  <label for="departures">Time and Date of Departures </label>
                  <input type="datetime-local" formControlName="departures" class="col col-arrange"/> 
               </div>
               <div class="col col-arrange">
                  <label for="arrivals">Time and Date of Arrivals </label>
                  <input type="datetime-local" formControlName="arrivals" class="col col-arrange"/> 
               </div>
            </div>
            <div class="row">
               <div class="col col-arrange">
                  <button type="submit" class="btn btn-success" (click)="toggleTab(3)">Next Step</button>
               </div>
            </div>
       </div>
       <div class="container" style="margin-top: 2%">
       <div class="row">
      <div class="popup" [class.disabled]="!booleanArray[3]" (click)="toggleTab(3)">
         Step 3 : Select Airlines/Add New Airlines
         <p style="float: right;"> {{tabText}}</p>
      </div>
   </div>
   </div>
   <div class="container" *ngIf="booleanArray[3]" style="border: 1px solid #09010f;">
      <app-flight></app-flight>
      <div class="row" >
      <div class="col col-arrange">
         <label for="carrierName">Airlines Company : </label>
         <select id="carrierName" formControlName="carrierName" class="col col-arrange" required>
            <option>Select......</option>
            <option [value]="fl.carrierName" *ngFor="let fl of flights">{{fl.carrierName}}</option>
         </select>
      </div>
      <div class="col col-arrange">
         <label for="flmodel">Flight Model : </label>
         <select id="flmodel" formControlName="flmodel" class="col col-arrange" required>
            <option>Select Flight Model : </option>
            <option [value]="fl.flightModel" *ngFor="let fl of flights">{{fl.flightModel}}</option>
         </select>
      </div>
      <div class="col col-arrange">
         <label for="seatCapacity">Seat Capacity : </label>
         <input type="number" id="seatCapacity" formControlName="seatCapacity" min="100" max="250" required> 
      </div>
   </div>
   <div class="row row-button">
    <button type="button" class="btn btn-success" (click)="toggleTab(4)">Next Step</button>
</div> 
</div>
<div class="container" style="margin-top: 2%">
   <div class="row">
      <div class="popup" [class.disabled]="!booleanArray[4]"  (click)="toggleTab(4)">
         Step 4: : Authorization
         <p style="float: right;"> {{tabText}}</p>
      </div>
   </div>
   </div>
<div class="container" *ngIf="booleanArray[4]" style="border: 1px solid #09010f;">
   <div class="row" >
   <div class="col col-arrange">
      <label for="UserMail">Please Enter Your Password</label>
      </div>
      <div class="col col-arrange">
         <input type="text" id="password" formControlName="password" required> 
      </div>
      </div>
      <div class="row row-button">
         <button type="button" class="btn btn-success">Submit</button>
        </div> 
</div>
</form>