<body *ngIf="user">
    <h1 style="text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    Welcome Mr. {{user.username}}
    </h1>
    <div class="container">
        <div class="row"><button type="button" class="btn btn-primary btn-lg btn-block" (click)="routeto(1)">Schedule A Flight</button></div>
        <div class="row"><button type="button" class="btn btn-success btn-lg btn-block" (click)="routeto(2)">Book My Tickets</button></div>
        <div class="row"><button type="button" class="btn btn-danger btn-lg btn-block" (click)="routeto(3)">View Active ScheduleFlights</button></div>
        <div class="row"><button type="button" class="btn btn-secondary btn-lg btn-block" (click)="routeto(4)">Get Users Details</button></div>
    </div>
</body>
