<div class="container" style="margin-top: 2%;">
        <p>
            <a href="javascript:void(0)" (click)="display();">+ Create New Flight Details (Add Manually)</a>
        </p>
        <form [formGroup]="flForm" (ngSubmit)="createflight()">
            <div *ngIf="newfl">
                <div class="row">
                <div class="col">
                    <label for="carrierName">Airlines Name : </label>
                    <div class="col">
                        <input type="text" id="carrierName" formControlName="carrierName" required>
                    </div>
                </div>
                <div class="col">
                    <label for="flightModel">Plane Model : </label>
                    <div class="col">
                        <input type="text" id="flightModel" formControlName="flightModel" required>
                    </div>
                </div>
                <div class="col">
                    <label for="seatCapacity">Seat Capacity : </label>
                    <div class="col">
                        <input type="number" id="seatCapacity" formControlName="seatCapacity" min="100" max="250" required>
                    </div> 
                </div>
            </div>
            <div class="row row-button">
                <button type="submit" class="btn btn-success" [disabled]="!flForm.valid">Move Next</button>
            </div> 
        </div>
    </form>
</div>

